.sidebar {
    top: 0;
    left: 0;
    width: 230px;
    height: 100vh;
    background-color: white;
    border-right: 1px solid #ccc;
  }
  
  .sidebar-toggle {
    position: absolute;
    /* top: 10px; */
    left: 10px;
    cursor: pointer;
  }
  
  .sidebar-menu {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .sidebar-menu li {
    padding: 10px;
    cursor: pointer;
  }
  
  .sidebar-menu li a {
    color: black;
    text-decoration: none;
  }
  
  .sidebar-menu.open {
    display: block;
  }
  
  .sidebar-menu.closed {
    display: none;
  }
  .list-group-item:hover {
    background-color: #47B747;
  }
  .list-group-a{
    text-decoration: 'none';
    display: 'flex'; 
  }
  .list-group-a:hover {
    background-color: #47B747;
  }
  
  
  /* Media Query for Small Devices */
  @media (max-width: 768px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
  }
  
  /* Media Query for Medium Devices */
  @media (min-width: 768px) and (max-width: 992px) {
    .sidebar {
      width: 200px;
      height: auto;
    }
  }
  
  